body {
    display:grid;
    place-items:center;
    font-family: 'Lato' sans-serif;
}

.container {
    width:80%;
}

h1 {
    text-align:center;    
}




label {
    font-weight:bold;
}
input {
    display:block;
    margin-top:3px;
    margin-bottom:15px;
    color:#292929;
    border-bottom:1px inset #222222;
    border-inline:none;
    border-top:none;
    font-size:16px;
    padding:6px;
}
input:focus {
    border-bottom:2px inset #222222;
    border-inline:none;
    border-top:none;
    outline:none;
}
input::placeholder {
    transition:opacity 250ms;   
}
input:focus::placeholder {
    opacity:40%;
}
textarea {
    display:block;
    border-radius:3px;
    margin-top:5px;
    margin-bottom:10px;
    color:#292929;
    border:1px inset #222222;
    font-size:16px;
    padding:8px;
    font-family:'Lato', sans-serif;
    min-height:4rem;
    min-width:40ch;
}
button {
    cursor:pointer;
    display:block;
    color:#292929;
    width:70px;
    height:30px;
    margin-top:40px;
    font-weight:bold;
}
#textarea-label {
    display:block;
    width:50ch;
}