#preloader {
    background:#000 url("images/preloader.gif") no-repeat center;
    background-size:30%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:999;
    opacity:1;
}
#preloader-outer {
    opacity:1;
    background:#000;
    height:100vh;
    width:110%;
    position:fixed;
    z-index:998;
}


/*scrollbar*/
::-webkit-scrollbar {
    display:none;              /*         Chrome        */
    scrollbar-width: none;     /*        Firefox        */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}



.invisible {
    opacity:0;
}


html {
    scroll-behavior: smooth;
    padding:0;
    margin:0;
    transition:opacity .3s ease-in-out;
}
body {
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color:#333333;
    color:lightgrey;
}
.hr {
  background: rgba(0, 0, 0, 0.6);
  height: 1px;
  width: 50%;
  margin:auto;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/*NAVBAR RULES*/
#home .navbar .homeLink {
    display:inline;
    border-radius:10px;
    margin-left:35px;
    margin-right:35px;
    transition:all .3s ease-in-out;
    padding:5px;
}
#home .navbar .aboutLink {
    display:inline;
    border-radius:10px;
    margin-left:35px;
    margin-right:35px;
    transition:all .3s ease-in-out;
    padding:5px;
}
#home .navbar .projectsLink {
    display:inline;
    border-radius:10px;
    margin-left:35px;
    margin-right:35px;
    transition:all .3s ease-in-out;
    padding:5px;
}
#home .navbar .contactLink {
    display:inline;
    border-radius:10px;
    margin-left:35px;
    margin-right:35px;
    transition:all .3s ease-in-out;
    padding:5px;
}

#home .navbar .homeLink:hover {
    background-color:rgba(75, 75, 75, 0.5);
}
#home .navbar .aboutLink:hover {
    background-color:rgba(75, 75, 75, 0.5);
}
#home .navbar .projectsLink:hover {
    background-color:rgba(75, 75, 75, 0.5);
}
#home .navbar .contactLink:hover {
    background-color:rgba(75, 75, 75, 0.5);
}

#home .navbar {
    background-color:rgba(128, 128, 128, 0.590);
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    width:100%;
    position:fixed;
    top:0;
    z-index:90; /*this is just so it doesnt get covered for resized hover images*/
    transition:background-color 400ms ease-in-out;
}
#home .navbar a {
    margin:5px;
    transition:all .3s ease-in-out;
    color:white;
    text-decoration:none;
}

.resume {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    width:100px;
    position:fixed;
    top:3px;
    right:20px;
    margin-top:8px;
    z-index:90; /*this is just so it doesnt get covered for resized hover images*/
}
.resume a {
    color:white;
    text-decoration:none;
}
.resume #resume-link {
    padding:5px;
    border: 2px;
    border-width:2px;
    border-color:lightgrey;
    border-style:solid;
    border-radius:10px;
}
.resume .resumeLink {
    display:inline;
    border-radius:10px;
    margin-left:35px;
    margin-right:35px;
    transition:all .3s ease-in-out;
    top:8px;
    right:20px;
    padding-top:5px;
    padding-bottom:5px;
}
.resume .resumeLink:hover {
    background-color:rgba(75, 75, 75, 0.5);
}





#home {
    display:grid;
    grid-template-rows:25% 50% 25%;
    grid-template-columns:30% 40% 30%;
    width:100%;
    height:100%;
    background-image:url('images/beach-background.png');
    background-repeat:no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home .home-content {
    margin-top:15%;
    color:white;
    grid-column:2;
    grid-row:2;
}
#home .home-content .name {
    width:100%;
    margin:auto;
    font-size:70px;
    text-shadow:0px 4px 12px rgba(0,0,0,0.9);
    
    display:grid;
    grid-template-columns:50% 50%;
}
#home .home-content .name .first-name {
    display:flex;
    font-weight:lighter;
    text-align:right;
    margin-right:5px;
    grid-column-start:1;
    grid-column-end:2;
    justify-content:flex-end;
}
#home .home-content .name .last-name {
    display:flex;
    font-weight:bold;
    text-align:left;
    margin-left:5px;
    grid-column-start:2;
    grid-column-end:3;
    justify-content:flex-start;
}
#home .home-content .position-title {
    font-size:30px;
    text-align:center;
    text-shadow:0px 3px 9px rgba(0,0,0,0.9);
}
#home .home-content .socials {
    margin-top:10px;
    color:white;
    
    margin-left:auto;
    text-align:center;
    width:100%;
    
    display:flex;
    flex-direction:row;
    justify-content:center;
    
    transition:transform .3s ease-in-out;
}
#home .home-content .socials a {
    text-decoration:none;
}
#home .home-content .socials i {
    color:white;
    font-size:30px;
    margin-left:10px;
    margin-right:10px;
    text-shadow:0px 3px 9px rgba(0,0,0,0.9);
}
#home .home-content .socials a:hover {
    transform:scale(1.1);
}
#home .image-credit {
    font-family: 'Lato', sans-serif;
    font-size:10px;
    color:white;
    position:absolute;
    bottom:0;
    left:3px;
}





#about {
    display:grid;
}
#about .about-content {
    padding-left:20%;
    padding-right:20%;
    padding-top:4%;
    padding-bottom:4%;
}
#about .intro-header {
    color:white;
    text-shadow:0px 3px 9px rgba(0, 0, 0, 0.9);
}

#about .sub-category {
    display:none;
    opacity:0;
}
#about .to-hover-titles ul {
    margin-top:20px;
    margin-bottom:40px;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#about .to-hover-titles li {
    font-weight:bold;
}

#about .sub-category:hover {
    display:initial;
}

#about .about-me .sub-header {
    text-shadow:0px 3px 9px rgba(0, 0, 0, 0.0);
}
#about .about-me .work-details {
    font-style:oblique;
    margin-top:-10px;;
}

#about .about-me .work-statement {
    margin-top:100px;
}
#about .initial-space {
    margin-top:100px;
    margin-bottom:100px;
    width:100%;
    height:500px;
}
#skills-list {
    list-style:none;
}
#skills-list li:before {
    content:'\2713\0020';
    margin-right:10px;
}







#projects {
    display:grid;
    grid-template-rows:100%;
}
#projects .projects-header {
    color:white;
    text-shadow:0px 3px 9px rgba(0, 0, 0, 0.9);
}
#projects .projects-content {
    padding-left: 20%;
    padding-right:20%;
    padding-top:4%;
    padding-bottom:4%;
}
#projects .thumbnail {
    width:20%;
    border-radius:10px;
}
#projects .thumbnail img {
    border-radius:10px;
    width:100%;
}
#projects .thumbnail img {
    transition:all .3s ease-in-out;
    /*grayscale effect*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) brightness(60%);
    filter: gray; /* IE 6-9 */
    z-index:20;
    z-index:70;
}
#projects .thumbnail img:hover {
    transform:scale(1.05);
    /*make it colored when hovering*/
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    z-index:50; /*makes sure its at the top except the navbar*/
}
#projects .text {
    background-color:#444444;
    width:70%;
    height:60%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    box-shadow:5px 10px;
    z-index:-5;
}

#projects .projects-content .website {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
#projects .projects-content .website .text {
    border-radius:10px 0 0 10px;
    box-shadow:-5px 10px 7px #292929;
}
#projects .projects-content .calendar-c {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
#projects .projects-content .calendar-c .text {
    border-radius: 0 10px 10px 0;
    box-shadow:5px 10px 7px #292929;
}
#projects .projects-content .calendar-python {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:10px;
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
#projects .projects-content .calendar-python .text {
    border-radius:0 10px 10px 0;
    box-shadow:5px 10px 7px #292929;
}
#projects .projects-content .shooter {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:90%;
}
#projects .projects-content .shooter .text {
    border-radius:10px 0 0 10px;
    box-shadow:-5px 10px 7px #292929;
}

#projects .projects-content .other-projects-div > a { /*only selects the other-projects a tag*/
    text-decoration:none;
    margin:auto;
    color:lightgrey;
}
#projects .projects-content .other-projects-div {
    display: flex;
    flex-direction:row;
    justify-content:center;
    transition:all .3s ease-in-out;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:60%;
    color:lightgrey;
}
#projects .projects-content .other-projects:hover {
    transform:scale(1.05);
}
#projects .projects-content .other-projects {
    width:100%;
    transition:all .3s ease-in-out;
}
#projects .projects-content .other-projects .other-text {
    border-radius:10px 10px 10px 10px;
    box-shadow:-5px 10px 7px #292929;
    
    background-color:#444444;
    width:100%;
    height:50px;
    padding-top:8px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    
    margin-top:70px;
}
#projects .projects-content .other-projects .other-text:hover {
    background-color:#555555;
}

#projects .text p.title {
    font-size:30px;
    font-weight:bold;
}
.right {
    transform:translateX(-2%);
}
.left {
    transform:translateX(2%);
}



#contact {
    display:grid;
    grid-template-rows:100%;
}
#contact .contact-header {
    color:white;
    text-shadow:0px 3px 9px rgba(0, 0, 0, 0.9);
}
#contact .contact-content {
    padding-left: 20%;
    padding-right:20%;
    padding-top:4%;
    padding-bottom:4%;
}
#contact .contact-content input {
    display:block;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:3px;
    background-color:#444444;
    color:lightgrey;
    border:1px inset #222222;
    font-size:16px;
    padding:6px;
}
#contact .contact-content textarea {
    border-radius:3px;
    margin-top:5px;
    margin-bottom:10px;
    background-color:#444444;
    color:lightgrey;
    border:1px inset #222222;
    font-size:16px;
    padding:8px;
    font-family:'Lato', sans-serif;
}
#contact .contact-content button {
    background-color:#555555;
    color:lightgrey;
    width:70px;
    height:30px;
}
#message-full {
    display:block;
}
#message-compact {
    display:none;
}


.resize-warning {
    background-image:url('images/beach-background.png');
    background-repeat:no-repeat;    
    background-position:0 0;
    width:100%;
    height:100%;
    display:none;
}
.resize-warning .resize-content {
    color:white;
    text-align:center;
    text-shadow:0px 3px 9px rgba(0, 0, 0, 0.9);
    border:2px solid #111111;
    border-radius:10px;
    margin:17px;
    padding:8px;
    height:100%;
    grid-row:2;
}
.resize-warning .resize-content a {
    text-decoration-color:royalblue;
    color:royalblue;
}



@media screen and (max-width:830px) {
    body {
        overflow:hidden;
    }
    .navbar {
        display:hidden;
    }
    .resize-warning {
        display:grid;
        grid-template-rows: 33% 25% 42%
    }
    .hr {
        display:none;
    }
    #home {
        display:none;
    }
    #about {
        display:none;
    }
    #projects {
        display:none;
    }
    #contact {
        display:none;
    }
}



.fade-in {
    opacity:0;
    transition:opacity 550ms ease-in-out;
}
.fade-in.appear {
    opacity:1;
}


.from-left {
    transform:translateX(-2%);
}
.from-right {
    transform:translateX(2%);
}
.from-left, .from-right {
    transition:opacity 550ms ease-in-out, transform 700ms ease-in-out;
    opacity:0;
}
.from-left.appear, .from-right.appear {
    transform:translateX(0);
    opacity:1;
}


.fall-in {
    transform:translateY(2%);
    transition:opacity 550ms ease-in-out, tranform 700ms ease-in-out;
    opacity:0;
}
.fall-in.appear {
    transform:translateY(0);
    opacity:1;
}